{
  "addTimestampsToChat": false,
  "transparent": false,
  "timestampFormat": "HH:mm:ss",
  "allowChatMentions": true,
  "mentionNames": "",
  "blockChatSpamFilter": true,
  "filterWynncraftInfo": true,
  "filterJoinMessages": false,
  "filterTerritoryEnter": true,
  "customPowderManual": true,
  "heldItemChat": true,
  "chatHistorySize": 100,
  "registeredDefaultTabs": true,
  "available_tabs": [
    {
      "name": "Global",
      "autoCommand": "",
      "orderNb": 0,
      "lowPriority": true,
      "regexFinder": {
        "pattern": ".*",
        "flags": 0
      }
    },
    {
      "name": "Guild",
      "autoCommand": "/g",
      "orderNb": 1,
      "lowPriority": false,
      "regexFinder": {
        "pattern": "(^§3\\[(§r§b★{0,4})?§r§3\\w*?\\])(?\u003c!§3\\[Parkour\\])|(^§3You were not in the territory)",
        "flags": 0
      }
    },
    {
      "name": "Party",
      "autoCommand": "/p",
      "orderNb": 2,
      "lowPriority": false,
      "regexFinder": {
        "pattern": "(^§7\\[§r§e(.*?)\\])|(^§eYou are not in a party!)",
        "flags": 0
      }
    }
  ],
  "preset": "a",
  "translateCondition": "always",
  "translateIntoChat": false,
  "coloredTranslation": true,
  "useBrackets": false,
  "clickablePartyInvites": true,
  "clickableCoordinates": true,
  "clickableTradeMessage": true,
  "clickableDuelMessage": true
}