{
  "lastToken": "",
  "lastSelectedClass": 1,
  "lastClass": "ARCHER",
  "lastClassIsReskinned": false,
  "updateStream": "STABLE",
  "scrollDirection": "DOWN",
  "enableChangelogOnUpdate": true,
  "showChangelogs": false,
  "lastVersion": "1.10.5",
  "addMainMenuButton": true,
  "useUnicode": false
}