{
  "showCompassBeam": true,
  "showCompass": true,
  "compassDistanceType": "OFF_MAP",
  "enabled": true,
  "mapFormat": "CIRCLE",
  "followPlayerRotation": true,
  "mapSize": 100,
  "showCoords": false,
  "northOnly": false,
  "minimapIcons": true,
  "hideCompletedQuests": true,
  "compassBeaconColor": "RED",
  "renderUsingLinear": true,
  "minimapIconSizeMultiplier": 1.0,
  "mapZoom": 30,
  "hideMinimapOutOfBounds": true,
  "enabledMapIcons": {
    "Dungeons": true,
    "Item Identifier": true,
    "Ore Refinery": true,
    "Woodworking Station": false,
    "Blacksmith": true,
    "Ultimate Discovery": false,
    "Accessory Merchant": true,
    "Tailoring Station": false,
    "Seasail Merchant": true,
    "Potion Merchant": true,
    "Dungeon Merchant": true,
    "Scribing Station": false,
    "Powder Merchant": true,
    "Other Merchants": false,
    "LE Merchant": true,
    "Guild Master": true,
    "Key Forge Merchant": true,
    "Powder Master": true,
    "Emerald Merchant": true,
    "Armouring Station": false,
    "Grind Spots": false,
    "Runes": false,
    "Tool Merchant": false,
    "Weaponsmithing Station": false,
    "Art Merchant": false,
    "Horse Merchant": true,
    "Quests": true,
    "Fast Travel": true,
    "Corrupted Dungeons": true,
    "Nether Portal": true,
    "Scroll Merchant": true,
    "Marketplace": true,
    "Fish Refinery": true,
    "Wood Refinery": true,
    "Alchemism Station": false,
    "Light\u0027s Secret": true,
    "TNT Merchant": true,
    "Armour Merchant": true,
    "Jeweling Station": false,
    "Boss Altar": true,
    "Caves": false,
    "Crop Refinery": true,
    "Mini-Quests": false,
    "Cooking Station": false,
    "Weapon Merchant": true
  },
  "enabledMinimapIcons": {
    "Dungeons": true,
    "Item Identifier": true,
    "Ore Refinery": true,
    "Woodworking Station": false,
    "Blacksmith": true,
    "Ultimate Discovery": true,
    "Accessory Merchant": true,
    "Tailoring Station": false,
    "Seasail Merchant": true,
    "Potion Merchant": true,
    "Dungeon Merchant": true,
    "Scribing Station": false,
    "Powder Merchant": true,
    "Other Merchants": true,
    "LE Merchant": true,
    "Guild Master": true,
    "Key Forge Merchant": true,
    "Powder Master": true,
    "Emerald Merchant": true,
    "Armouring Station": false,
    "Grind Spots": true,
    "Runes": true,
    "Tool Merchant": true,
    "Weaponsmithing Station": false,
    "Art Merchant": true,
    "Horse Merchant": true,
    "Quests": true,
    "Fast Travel": true,
    "Corrupted Dungeons": true,
    "Nether Portal": true,
    "Scroll Merchant": true,
    "Marketplace": true,
    "Fish Refinery": true,
    "Wood Refinery": true,
    "Alchemism Station": false,
    "Light\u0027s Secret": true,
    "TNT Merchant": true,
    "Armour Merchant": true,
    "Jeweling Station": false,
    "Boss Altar": true,
    "Caves": true,
    "Crop Refinery": true,
    "Mini-Quests": true,
    "Cooking Station": false,
    "Weapon Merchant": true
  },
  "iconTexture": "Classic"
}