{
  "waypoints": [
    {
      "name": "Loot Chest T4",
      "x": -588.0,
      "y": 55.0,
      "z": -1561.0,
      "zoomNeeded": -1000,
      "color": "WHITE",
      "type": "LOOTCHEST_T4",
      "group": "LOOTCHEST_T4"
    },
    {
      "name": "Loot Chest T3",
      "x": -1027.0,
      "y": 56.0,
      "z": -1786.0,
      "zoomNeeded": -1000,
      "color": "WHITE",
      "type": "LOOTCHEST_T3",
      "group": "LOOTCHEST_T3"
    }
  ],
  "pathWaypoints": [],
  "iconFade": true,
  "iconFadeScale": 30,
  "chestTiers": "TIER_3",
  "compassMarker": true
}