{
  "redirectCombat": true,
  "redirectHorse": true,
  "redirectResourcePack": false,
  "redirectClass": true,
  "redirectLoginLocal": true,
  "redirectLoginFriend": true,
  "redirectLoginGuild": true,
  "redirectMerchants": true,
  "redirectOther": true,
  "redirectServer": true,
  "redirectQuest": true,
  "redirectSoulPoint": true,
  "redirectCooldown": true,
  "redirectAfk": true,
  "redirectPouch": true,
  "redirectGatheringDura": true,
  "redirectCraftedDura": true
}