{
  "info1Format": "",
  "info1Alignment": "MIDDLE",
  "info2Format": "",
  "info2Alignment": "MIDDLE",
  "info3Format": "",
  "info3Alignment": "MIDDLE",
  "info4Format": "",
  "info4Alignment": "MIDDLE",
  "preset": "CLICK_ME",
  "variables": "CLICK_ME",
  "escapedChars": "CLICK_ME",
  "opacity": 0,
  "backgroundColor": "rgba(0.0,0.0,0.0,0.0)",
  "textShadow": "OUTLINE"
}