{
  "filterEnabled": true,
  "itemLevelArc": false,
  "craftedDurabilityBars": true,
  "averageUnidentifiedLevel": true,
  "romanNumeralPowderTier": true,
  "itemLevelOverlayOutsideGui": false,
  "keySpecification": true,
  "unidentifiedSpecification": true,
  "potionSpecification": true,
  "transportationSpecification": true,
  "amplifierSpecification": true,
  "mainHighlightChest": true,
  "mainHighlightInventory": true,
  "accesoryHighlight": true,
  "hotbarHighlight": true,
  "armorHighlight": true,
  "mythicHighlight": true,
  "fabledHighlight": true,
  "legendaryHighlight": true,
  "rareHighlight": true,
  "uniqueHighlight": true,
  "setHighlight": true,
  "normalHighlight": false,
  "blackMarketEffectsHighlight": true,
  "godlyEffectsHighlight": true,
  "epicEffectsHighlight": true,
  "rareEffectsHighlight": true,
  "commonEffectsHighlight": true,
  "emeraldCountChest": true,
  "emeraldCountInventory": true,
  "emeraldCountText": false,
  "ingredientHighlight": true,
  "highlightCosmeticDuplicates": true,
  "minPowderTier": 4,
  "normalHighlightColor": "WHITE",
  "uniqueHighlightColor": "YELLOW",
  "rareHighlightColor": "rgba(1.0,0.0,1.0,1.0)",
  "setHighlightColor": "GREEN",
  "legendaryHighlightColor": "rgba(0.0,1.0,1.0,1.0)",
  "fabledHighlightColor": "\u0026c",
  "mythicHighlightColor": "rgba(0.3,0.0,0.3,1.0)",
  "craftedHighlightColor": "rgba(0.0,0.545,0.545,1.0)",
  "ingredientOneHighlightColor": "rgba(1.0,0.97,0.6,1.0)",
  "ingredientTwoHighlightColor": "YELLOW",
  "ingredientThreeHighlightColor": "rgba(0.9,0.3,0.0,1.0)",
  "inventoryAlpha": 100.0,
  "hotbarAlpha": 30.0
}