{
  "showQuickAccessNumbers": false,
  "showQuickAccessIcons": true,
  "showBankSearchBar": true,
  "autoPageSearch": false,
  "addBankConfirmation": true,
  "openChatBankSearch": true,
  "searchHighlightColor": "rgba(0.9,0.3,0.0,1.0)",
  "quickAccessOne": 1,
  "quickAccessTwo": 5,
  "quickAccessThree": 9,
  "quickAccessFour": 13,
  "quickAccessFive": 17,
  "quickAccessSix": 21,
  "pageNames": {},
  "maxPages": 2
}