{
  "addClassHubButtons": true,
  "addOptionsProfileButtons": true,
  "dailyReminder": true,
  "hidePotionGui": true,
  "hideNametags": true,
  "hideNametagBox": true,
  "showArmors": false,
  "preventMythicChestClose": true,
  "preventFavoritedChestClose": true,
  "preventSlotClicking": false,
  "fovScalingFunction": "Vanilla",
  "autoMount": false,
  "blockHealingPots": true,
  "autoResource": true,
  "autoResourceOnLoad": false,
  "changeWindowTitle": true,
  "changeWindowIcon": true,
  "renderTooltipsFromTop": true,
  "renderTooltipsScaled": false,
  "renderLeaderboardBadges": true,
  "shiftClickAccessories": true,
  "preventTradesDuels": false,
  "lastServerResourcePack": "http://game-cdn.wynncraft.com/22.03.06/mc1.12-below.zip",
  "lastServerResourcePackHash": "37534d6833542d16ea691aa4afa385e3f461d9db",
  "locked_slots": {},
  "skillPointLoadouts": {},
  "favoriteItems": []
}